<div class="code-input-container">
  <div>
    <div
      [style.color]="isActiveLine(lineNumber) ? 'red' : 'black'"
      *ngFor="let lineNumber of numberOfLines"
    >
      {{ lineNumber }}
    </div>
  </div>
  <form [formGroup]="codeForm" (ngSubmit)="onSubmit()">
    <textarea
      class="code-area"
      formControlName="userInput"
      cols="30"
      rows="10"
    ></textarea>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>

<button (click)="goNextBlock()">Go Next</button>

<button (click)="goPrevBlock()">Go Prev</button>

<div>
  <div *ngFor="let execContext of callStack$ | async">
    {{ execContext }}
  </div>
</div>
